.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}

.item {
  /* color: white; */
}

.list {
  padding: 0;
  list-style: none;
}

.link {
  color: white;
  text-decoration: none;
}

.active {
  color: goldenrod;
}